<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>GAEのテスト</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>
  <body>
    <img src="/img/wakayanagi.jpg" width="200" />
    <br />
    {% for greeting in greetings %}
      {% if greeting.author %}
        <b>{{ greeting.author }}</b> wrote:
      {% else %}
       名無しさん wrote:
      {% endif %}
      <blockquote>{{ greeting.content|escape }}</blockquote>
    {% endfor %}

    <form action="/sign" method="post">
      ユーザー:
      <input type="text" name="user" />
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Sign Guestbook"></div>
    </form>

    <a href="{{ url }}">{{ url_linktext }}</a>

  </body>
</html>